@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: grid;
    place-items: center;
    position: relative;
    width: 100svw;
    height: 100svh;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: var(--cream);
}

.attribution {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.big-text {
    font-size: 2rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
    line-height: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 1rem;
    background-color: var(--white);
    border-radius: .5rem;
    overflow: hidden;
}

.card .imgs {
    width: 100%;
}

.card .imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .imgs .desktop {
    display: none;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    color: var(--dark-grayish-blue);
}

.card .content .product-type {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .4em;
}

.card .content .product-name {
    color: var(--very-dark-blue);
}

.card .content .product-disc {
    line-height: 1.5rem;
}

.card .content .price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card .content .price .discounted {
    color: var(--dark-cyan);
}

.card .content .price .original {
    text-decoration: line-through;
}

.card .content button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    transition: all .1s ease-in-out;
    outline: none;
    border: none;
}

.card .content button:hover {
    background-color: hsl(156, 42%, 18%);
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .card {
        flex-direction: row;
        max-width: 600px;
    }

    .card .content {
        padding: 2rem;
        justify-content: space-between;
    }

    .card .imgs {
        width: 50%;
    }

    .card .imgs .mobile {
        display: none;
    }

    .card .imgs .desktop {
        display: block;
    }

    .card .content {
        width: 50%;
    }
}